{% embed 'partials/base.html.twig' %}

    {% block content %}
        <h1>{{ header.title }}</h1>
        {{ content }}
    {% endblock %}

    {% block sidebar %}
        {% for partial in header.sidebar %}
            {{ page.find(partial.route).content }}
        {% endfor %}
    {% endblock %}

{% endembed %}