html {
  position: relative;
  height: 100%;
  z-index: -1;
}

body {
  height: auto !important;
  min-height: 100%;
  overflow-x: initial;
}

#app {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  min-height: 100vh;

  .btn {
    font-size: .9em;
    text-transform: uppercase;

    .fa-sm {
      font-size: .7em;
      margin: 0 0 0 2px;
      display: inline-block;
      vertical-align: middle;
      height: 12px;
    }
  }

  .pr-md-8 {
    @media screen and (min-width: 1024px){
      padding-right: 6rem !important;
    }
  }
}

#mobilemenu {
  display: none;
  padding: 1rem 0;
  background-color: $info;

  &.is-active {
    display: block;
  }

  a.nav-link {
    color: #4c4c4c;
    font-weight: 700;
    text-decoration: none;
    font-size: .9em;
    text-transform: uppercase;
  }

  .fa.pull-right {
    color: $primary;
    margin-left: .3em;
    font-size: 1.3em;
  }

  .submenu {

    .submenu-menu {
      display: none;
      list-style: none;

      &.is-open {
        display: block;
      }
    }
  }
}

#top {
  width: 100%;
  position: relative;
  z-index: 3;
  transition: all linear .5s;
  height: 72px;

  .navbar {
    padding: .5rem 0;
    background-color: #e9ece6;
    border-top:4px solid #93b876;

    .navbar-nav {
      padding: 0 .5rem
    }

    .navbar-toggler {
      padding: 6px 10px;
    }
  }

  li.nav-item {
    padding:.5rem; 

    &.dropdown:hover {

      .dropdown-menu {
        display: block;
        margin-top: -3px;

        a { color: #999; }
        a:hover { color: #333; }
      }
    }

    a.nav-link {
      color: #4c4c4c;
      font-weight: 700;
      text-decoration: none;
      white-space: nowrap;
      font-size: .9em;
      text-transform: uppercase;
    }
  }

  @media screen and (min-width: 769px ) {
    .fixed-top-md {
      position: fixed;
      width: 100%;
    }
  }
}

#mid {
  position: relative;
  flex: 1 0 auto;
  z-index: 2;
}

.content {
  padding: 2rem 0;

  &.top {
    border-top: 2px dotted $info;
    margin-top: 1rem;
  }

  h1, h2, h3 {
    font-family: 'Georgia', sans-serif;
  }

  h1, h2, h3 {
    font-weight: 400;
  }

  h1, h2, h3, h4, h5, h6, p, li {
    color: $gray-700;
  }

  h4, h5 {
    font-weight: 700;
  }

  p, li { 
    line-height: 1.75em;
  }

  h2 {
    color: $secondary;
  }

  &.below-the-fold {
    padding: 3rem 0;

    h2 {
      color: $gray-700;
    }
  }

  ol {
    list-style: none;
    padding: 0 .5rem 0 2rem;
    counter-reset: list-counter;

    li {

      p, h1, h2, h3, div, ul, ol, pre {
        display: inline-block;
      }

      &::before {
        content: counter(list-counter);
        counter-increment: list-counter;
        display: inline-flex;
        width: 1rem;
        text-align: right;
        margin-left: -1.5rem;
        margin-right: .5rem;
        color: $primary;
        font-weight: bold;
        font-size: 1.2em;
        justify-content: flex-end;
      }
    }
  }

  .notices {
    & > p:last-child {
      margin: 0;
      padding: .5rem 0;
    }
  }

  code {
    display: inline-block;
    line-height: 1rem;
    font-size: .9em;
    border-radius: .5rem;
    background-color: #333;
    box-shadow: inset 0 0 5px #000;
    color: $info;
    padding: .25rem .5rem;
  }

  pre {
    max-width: 100%;
    overflow-x: scroll;
  }

}

.sidebar {
  .section {
    padding: .5rem 0 2rem;
    border-bottom: 1px solid $info;
    margin-bottom: 2rem;

    &:last-child(){
      margin-bottom:0;
      border: none;
    }

    h2 {
      color: $primary;
      font-style: italic;
      font-size: 2.5em;
      line-height: 1.1em;
      margin-bottom: 1rem;
    }
    
  }
}

.featureboxes {
  
    h3 {
    color: #FFF;
    font-family: 'Georgia',serif;
    margin: .75rem 0 1.75rem;
    font-size: 1.8em;

    @media screen and (min-width: 768px){
      font-size: 2.2em;
    }
    
  }
}

.bottomcontent {
  background-color: #ecf3e7;
}

#bot {
  position: relative;
  z-index: 1;

  .footer-nav {
    background-color: $primary;
    
    a.nav-link {
      color: #FFF;
      font-weight: 700;
      text-decoration: none;
      white-space: nowrap;
      font-size: .9em;
      text-transform: uppercase;
    }
  }

  .social {
    padding: 1rem 0;

    svg {
      height: 40px;
      margin: 2px;
    }
  }

  .signoff {
    padding: .5rem 0;
    border-top: 2px dotted $info;

    p {
      margin: 0;
      font-size: .8em;
    }
  }
}