{% set states = {} %}

{% for state in page.find('/licensure-information/state-licensure-requirements').children.order('title', 'asc') %}
    {% set states = states|merge([{
        'title': state.title,
        'route': state.route,
        'slug': state.slug
        }]) 
    %}
{% endfor %}

    {{ dump(states) }}


<section class="section">
    <h2>{{ header.title }}</h2>
    <stateform :locationdata='{{ states|json_encode }}' ></stateform>
    <p><img src="{{ url("theme://images/united-states.png") }}" class="img-fluid" ></p>
</section